
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

.container {
    .component {
        .title {
            border-bottom: solid #ddd 1px;
            padding-top: 25px;
        }
        .content {
            padding-top: 25px;
        }
    }
}